<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <p>I am a freelance audio engineer based in Tallinn, Estonia with an audio kit that can be customised for the needs of your production.
          I have a BA in Film Arts from the Baltic Film and Media School in Tallinn. 
          Going to a film school means I have been battle-hardened in some of the most difficult scenarios a production could come up against. 
          The approach I use for any scenario is remaining calm and keeping a clear line of communication with the crew.</p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div>
    </div>
  </div>
</section>
